{% load reviews i18n %}
{% load django_bootstrap5 %}

<form action="{% review_form_target %}" method="post">{% csrf_token %}
  {% if next %}
    <input class="form-control" type="hidden" name="next" value="{{ next }}"/>
  {% endif %}
  {% for field in form %}
      <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <span{% if field.errors %} class="error"{% endif %}{% if field.name == "honeypot" %} style="display:none;"{% endif %}>
{#        {{ field.label_tag }} {{ field }}#}
        {% bootstrap_field field show_label=False %}
      </span>
    {% endif %}
  {% endfor %}
    <span class="submit">
        <button type="submit" name="post" class="submit-post btn btn-primary" value="{% trans "Post" %}">
            {% trans "Submit" %}
        </button>
    </span>
</form>
{{ form.media }}
<style>
.gl-star-rating[data-star-rating] { display: inline-block; }
</style>
<script>
    let starRatingControls = new StarRating('#id_rating', {
            clearable: false,
            showText: {{ show_rating_text|yesno:"true,false" }},
            initialText: '{% trans "Select a rating" %}'
        }
    );
</script>
