{# 'static/reviews/css/reviews.css' and 'static/reviews/css/star-rating.css' should be linked somewhere in the parent template #}
{% load reviews %}
<dl id="review-list">
    {% if review_list|length == 0 %}
        <p>Brak ocen</p>
    {% else %}
        {% for review in review_list %}
            <dt id="r{{ review.id }}" class="align-middle">
                {% render_rating_value review.rating %}
                {{ review.submit_date }}
            </dt>
            <dd>
                <p>{{ review.comment|linebreaks }}</p>
            </dd>
        {% endfor %}
    {% endif %}
</dl>
